<% @title = "Modeling Commons help" %>

<p>This will eventually contain complete documentation for the
  Modeling Commons.</p>

<p>For now, we have a few <%= link_to "screencasts", :action => :screencasts -%> that you can watch.</p>

<p>You might also want to consult the <%= link_to "official NetLogo documentation", 'http://ccl.northwestern.edu/netlogo/docs/' -%>.</p>

<p>Beyond that, you can contact <a href="mailto:reuven@lerner.co.il">Reuven</a> with questions.</p>
