<% @title = "Screencasts" %>

<ul>
    <li><%= link_to "Registering with the Modeling Commons", "/screencasts/registration.mov" %></li>
    <li><%= link_to "Tagging", "/screencasts/tagging.mov" %></li>
    <li><%= link_to "Uploading models", "/screencasts/upload.mov" %></li>
    <li><%= link_to "Discussions and asking for help", "/screencasts/discussions.mov" %></li>
</ul>
