*.DS_Store
*~
.project
coverage.data
coverage/
dump/*
index/*
log/*
mkmf.log
nohup.out
profiling/
public/browse/*
public/modelzips
public/sitemap.xml
public/system/*
rerun.txt
tmp/*
Other Files/*
./#*
./.#*
turbulence
turbulence/*
.#*
output.html
.sass-cache/*
.sass-cache
*flymake*
public/assets
*.xls
