<%= form_tag({:controller => :search, :action => :search_action}, :id => 'search-form') do %>
<p>
  <%= text_field_tag :search_term, nil, :placeholder => 'Search Models', :style => 'vertical-align: top;' %> <%= submit_tag "Search", :class => "submit" %>
</p>
<% end %>

<script>
  $("#search-form").submit(function() {
    if($("#search_term").val().length == 0) {
      $("#search_term").focus();
      return false;
    }
  });
</script>
