<% @title = "Search through models" %>

<table>
    <% form_tag(url_for(:controller => :search, :action => :search_action)) do %>
    <tr>
        <td><label for="search_term">Enter search term:</label></td>
        <td><%= text_field_tag :search_term %></td>
    </tr>

    <tr>
        <td colspan="2"><%= submit_tag "Search!", :class => "submit" %></td>
    </tr>

    <% end %>
</table>

