<% @title = "Search through models" %>

<% form_tag(url_for(:controller => :search, :action => :search_action)) do %>
<p><label for="search_term">Enter search term: </label><%= text_field_tag :search_term %></p>
<p><%= submit_tag "Search!", :class => "submit" %></p>
<% end %>

