<h1>New news posting</h1>

<p>This is how you add a new news announcement.</p>

<table>

<% form_for :new_posting, :url => { :action => :create_news_posting } do |form| %>
<tr>
    <td>Post title</td>
    <td><%= form.text_field :title, :size => 30 %></td>
</tr>
<tr>
    <td>Post body</td>
    <td><%= form.text_area :body %></td>
</tr>

<tr>
    <td colspan="2"><%= submit_tag "Submit post", :class => "submit" %></td>
</tr>

<% end %>

</table>
