<% if @models.empty? %>

    <p>Sorry, but there are no models!</p>

<% else %>

    <table border="1">

        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Contributors</th>
        </tr>

        <% @models.each do |model| %>
        <tr>
            <td><%= model.id %></td>
            <td><%= link_to model.name, :controller => "browse", :action => "one_model", :id => model.id %></td>
            <td>
                <ul>
                    <% model.people.each do |person_id| %>
                        <li><%= link_to Person.find(person_id).fullname, :controller => "account", :action => "mypage", :id => person_id %></li>
                    <% end %>
                </ul>
            </td>
        </tr>
        <% end %>

    </table>

<% end %>
