@import "compass/css3";
@import "font";

@mixin clickable($background-color: #FFB540, $text-color: black, $hover: ':hover', $active: ':active', $selected: '.selected', $disabled: '[disabled]') {
  @include pie;
  $box-shadow-lighten: 10%;
  $hover-darken: 10%;
  $active-darken: 20%;
  $disabled-color: desaturate($background-color, 90%);
  color: $text-color;
  @include sans-font();
  cursor: pointer;
  border: 1px solid darken($background-color, 20%);
  @include background(linear-gradient($background-color 35%, darken($background-color, 10%) 45%, $background-color 85%));
  @include box-shadow(0px 0px 1px 1px lighten($background-color, $box-shadow-lighten) inset);
  
  @each $hover-item in $hover {
    &#{$hover-item} {
      @include background(linear-gradient(darken($background-color, $hover-darken) 35%, darken($background-color, $hover-darken + 10%) 45%, darken($background-color, $hover-darken) 85%));
      @include box-shadow(0px 0px 1px 1px lighten($background-color, $box-shadow-lighten - $hover-darken) inset);
    }
  }
  
  @each $active-item in $active {
    &#{$active-item} {
      
      @include box-shadow(-1px 5px 6px 3px darken($background-color, 40%) inset);
      @include background(linear-gradient(darken($background-color, $active-darken) 35%, darken($background-color, $active-darken + 10%) 45%, darken($background-color, $active-darken) 85%));
      /*border: 1px solid darken($button-color, 40%);*/
    }
  }
  
  @each $disabled-item in $disabled {
    &#{$disabled-item} {
      @include background(linear-gradient($disabled-color 35%, darken($disabled-color, 5%) 45%, $disabled-color 85%));
      @include box-shadow(0px 0px 1px 1px lighten($disabled-color, $box-shadow-lighten) inset);
      border: 1px solid darken($disabled-color, 10%);
      color: desaturate($text-color, 90%);
      cursor: default;
      opacity: .5;
    }
    @each $active-item in $active {
      &#{$disabled-item}#{$active-item} {
        @include background(linear-gradient($disabled-color 35%, darken($disabled-color, 5%) 45%, $disabled-color 85%));
        @include box-shadow(0px 0px 1px 1px lighten($disabled-color, $box-shadow-lighten) inset);
        border: 1px solid darken($disabled-color, 10%);
        color: desaturate($text-color, 90%);
        cursor: default;
        opacity: .5;
      }
    }
    
  }
  
  @each $selected-item in $selected {
    &#{$selected-item} {
      @include box-shadow(-1px 5px 6px 2px darken($background-color, 40%) inset);
      @include background(linear-gradient(darken($background-color, 10%) 35%, darken($background-color, 20%) 45%, darken($background-color, 10%) 85%));
      
    }
  }
  
  @each $selected-item in $selected {
    @each $hover-item in $hover {
      &#{$selected-item}#{$hover-item} {
      @include box-shadow(-1px 5px 6px 2px darken($background-color, 40%) inset);
      @include background(linear-gradient(darken($background-color, 15%) 35%, darken($background-color, 25%) 45%, darken($background-color, 15%) 85%));
      }
    }
  }
  
  @each $selected-item in $selected {
    @each $active-item in $active {
      &#{$selected-item}#{$active-item} {
        @include box-shadow(-1px 5px 6px 3px darken($background-color, 40%) inset);
        @include background(linear-gradient(darken($background-color, $active-darken) 35%, darken($background-color, $active-darken + 10%) 45%, darken($background-color, $active-darken) 85%));
      }
    }
  }
  @each $selected-item in $selected {
    @each $disabled-item in $disabled {
      &#{$selected-item}#{$disabled-item} {
        @include box-shadow(-1px 5px 6px 2px darken($disabled-color, 40%) inset);
        @include background(linear-gradient(darken($disabled-color, 10%) 35%, darken($disabled-color, 15%) 45%, darken($disabled-color, 10%) 85%));    
      }
    }
  } 
}

