@mixin clickable($color, $text-color: black) {
  $box-shadow-lighten: 10%;
  $hover-darken: 10%;
  $active-darken: 20%;
  $disabled-color: desaturate($color, 90%);
  color: $text-color;
  font-family: arial;
  cursor: pointer;
  border: 1px solid darken($color, 20%);
  @include background(linear-gradient($color 35%, darken($color, 10%) 45%, $color 85%));
  @include box-shadow(0px 0px 1px 1px lighten($color, $box-shadow-lighten) inset);
  &:hover {
    @include background(linear-gradient(darken($color, $hover-darken) 35%, darken($color, $hover-darken + 10%) 45%, darken($color, $hover-darken) 85%));
    @include box-shadow(0px 0px 1px 1px lighten($color, $box-shadow-lighten - $hover-darken) inset);
  }
  &:active {
    
    @include box-shadow(-1px 5px 6px 3px darken($color, 40%) inset);
    @include background(linear-gradient(darken($color, $active-darken) 35%, darken($color, $active-darken + 10%) 45%, darken($color, $active-darken) 85%));
    /*border: 1px solid darken($button-color, 40%);*/
  }
  
  &.disabled, &[disabled] {
    
    @include background(linear-gradient($disabled-color 35%, darken($disabled-color, 5%) 45%, $disabled-color 85%));
    @include box-shadow(0px 0px 1px 1px lighten($disabled-color, $box-shadow-lighten) inset);
    border: 1px solid darken($disabled-color, 10%);
    color: lighten(desaturate($text-color, 90%), 25%);
    cursor: default;
  }
  &.selected, &.ui-tabs-selected {
    @include box-shadow(-1px 5px 6px 2px darken($color, 40%) inset);
    @include background(linear-gradient(darken($color, 10%) 35%, darken($color, 20%) 45%, darken($color, 10%) 85%));
    
  }
  &.selected:hover, &.ui-tabs-selected:hover {
    @include box-shadow(-1px 5px 6px 2px darken($color, 40%) inset);
    @include background(linear-gradient(darken($color, 15%) 35%, darken($color, 25%) 45%, darken($color, 15%) 85%));
    
  }
  &.selected:active, &.ui-tabs-selected:active {
    @include box-shadow(-1px 5px 6px 3px darken($color, 40%) inset);
    @include background(linear-gradient(darken($color, $active-darken) 35%, darken($color, $active-darken + 10%) 45%, darken($color, $active-darken) 85%));
    
  }
  &.disabled.selected, &.disabled.ui-tabs-selected {
    @include box-shadow(-1px 5px 6px 2px darken($disabled-color, 40%) inset);
    @include background(linear-gradient(darken($disabled-color, 10%) 35%, darken($disabled-color, 15%) 45%, darken($disabled-color, 10%) 85%));
    
  } 
}

