@import "all";

.container {
  @include container;
  background-color: white;
  @include box-shadow(0 0 15px 10px gray);
  @include border-bottom-right-radius($tab-corner-radius);
  @include border-bottom-left-radius($tab-corner-radius);
}

.header {
  @include sans-font();
  @include column(24);
  @include border-bottom-left-radius($tab-corner-radius);
  @include border-bottom-right-radius($tab-corner-radius);
  @include box-shadow(0 0 10px 2px gray);
  overflow: hidden;
  background-color: lighten($header-color, 10%);
  .banner {
    background-image: url('banner.png');
    cursor: pointer;
    @include column(12);
    height: 100px;
    color: white;
    @include text-shadow(/*$text-highlight*/$nav-color, 3px, 3px, 5px);
    h1 {
      font-size: 40px;
      margin-left: 17px;
      font-weight: bold;
    }
    h2 {
      font-size: 20px;
      margin-top: 5px;
      margin-left: 5px;
    }
    a {
      width: 100%;
      height: 100%;
      color: inherit;
      text-decoration: none;
      display: inline-block;
    }
  }
  .login {
    .login_container {
      font-size: 16px;
      padding-right: 10px;
      padding-left: 4px;
      display: inline-block;
      background-color: $nav-color;
      color: $nav-text-color;
      line-height: 26px;
      height: 26px;
      padding-top: 2px;
      padding-bottom: 2px;
      @include border-bottom-left-radius($tab-corner-radius);
      img {
        height: 26px;
        width: 26px;
        margin-left: 4px;
        margin-right: 4px;
        vertical-align: top;
      }
      a {
        color: $nav-text-color;
        vertical-align: top;
      }
      a:visited {
        color: $nav-text-color;
      }
      a:active {
        color: red;
      }
    }
    //background-color: red;
    height: 30px;

    
    vertical-align: top;
    
    text-align: right;
    
    @include column(12, true);
    @include serif-font();
    
  }
  $nav-height: 40px;

  .navigation {
    background-color: $nav-color;
    @include column(19);
    $a-color: black;
    a {
      //@include text-shadow($text-highlight, 2px, 2px, 3px);
      color: $nav-text-color;
      font-size: 20px;

      @include border-radius(5px);
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 7px;
      padding-right: 7px;
      text-decoration: none;
    }
    a:visited {
      color: $nav-text-color;
    }
    a:active {
      color: $nav-text-color;
    }
    a:hover {
      background-color: lighten($nav-color, 10%);
      @include box-shadow(0px 0px 1px 1px darken($nav-color, 10%) inset);
    }
    a:active {
      background-color: lighten($nav-color, 5%);
      @include box-shadow(-1px 1px 3px 2px darken($nav-color, 10%) inset);
    }
    ul {
      line-height: normal;
      display: inline-block;
    }
    ul:last-child {
      margin-left: 40px;
    }
    li {
      list-style: none;
      line-height: normal;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      height: $nav-height;
      margin-left: 1px;
      margin-right: 1px;
    }
    li:hover a {
      
    }
    li a {
      
    }
    height: $nav-height;
    line-height: $nav-height;
  }
  .search {
    background-color: $nav-color;
    @include column(5, last);
    height: $nav-height;
    line-height: $nav-height;
    text-align: right;
    form {
      display: inline-block;
    }
  }
}
.content {
  @include column(24);
}