$blueprint-grid-margin: 0px;
$blueprint-grid-width: 40px;
@import "blueprint/reset";
@import "blueprint/grid";
@import "compass/css3";
@import "clickable";

@mixin sans-font() {
  font-family: 'Arial', sans-serif;
}
@mixin serif-font() {
  font-family: 'Times';
}


$nav-color: #04346C;
$nav-text-color: white;
$header-color: lighten(#6899D3, 0%);
$text-highlight: #FF5C00;
$tab-corner-radius: 8px;
$input-radius: 5px;
$button-color: #FFB540;
body {
  background-color: #F5F3E9;
  @include serif-font();
}
button {
  @include clickable($header-color);
  font-size: 15px;
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
  div.ui-icon {
      margin-top: 1px;
      margin-bottom: 1px;
      vertical-align: top;
      display: inline-block;
    }
  @include border-radius($input-radius);
}
  
.container {
  @include container;
  background-color: white;
  @include box-shadow(0 0 15px 10px gray);
  @include border-bottom-right-radius($tab-corner-radius);
  @include border-bottom-left-radius($tab-corner-radius);
}
.header {
  @include sans-font();
  @include column(24);
  @include border-bottom-left-radius($tab-corner-radius);
  @include border-bottom-right-radius($tab-corner-radius);
  @include box-shadow(0 0 10px 2px gray);
  overflow: hidden;
  background-color: lighten($header-color, 10%);
  .banner {
    background-image: url('banner.png');
    cursor: pointer;
    @include column(12);
    height: 100px;
    color: white;
    @include text-shadow(/*$text-highlight*/$nav-color, 3px, 3px, 5px);
    h1 {
      font-size: 40px;
      margin-left: 17px;
      font-weight: bold;
    }
    h2 {
      font-size: 20px;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
  .login {
    line-height: 26px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: $nav-color;
    vertical-align: top;
    color: $nav-text-color;
    padding-left: 10px;
    @include border-bottom-left-radius($tab-corner-radius);
    @include column(11, true);
    @include push(1);
    @include serif-font();
    img {
      height: 26px;
      width: 26px;
      margin-left: 4px;
      margin-right: 4px;
      float: top;
    }
    a {
      color: $nav-text-color;
      vertical-align: top;
    }
    a:visited {
      color: $nav-text-color;
    }
    a:active {
      color: red;
    }
  }
  $nav-height: 40px;

  .navigation {
    background-color: $nav-color;
    @include column(19);
    $a-color: black;
    a {
      //@include text-shadow($text-highlight, 2px, 2px, 3px);
      color: $nav-text-color;
      font-size: 20px;

      @include border-radius(5px);
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 7px;
      padding-right: 7px;
      text-decoration: none;
    }
    a:visited {
      color: $nav-text-color;
    }
    a:active {
      color: $nav-text-color;
    }
    a:hover {
      background-color: lighten($nav-color, 10%);
      @include box-shadow(0px 0px 1px 1px darken($nav-color, 10%) inset);
    }
    a:active {
      background-color: lighten($nav-color, 5%);
      @include box-shadow(-1px 1px 3px 2px darken($nav-color, 10%) inset);
    }
    ul {
      line-height: normal;
      display: inline-block;
    }
    ul:last-child {
      margin-left: 40px;
    }
    li {
      list-style: none;
      line-height: normal;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      height: $nav-height;
      margin-left: 1px;
      margin-right: 1px;
    }
    li:hover a {
      
    }
    li a {
      
    }
    height: $nav-height;
    line-height: $nav-height;
  }
  .search {
    background-color: $nav-color;
    @include column(5, last);
    height: $nav-height;
    line-height: $nav-height;
    text-align: right;
    
    input {
      vertical-align: bottom;
      width: 150px;
      margin: 5px;
    }
  }
}
.content {
  .padding {
    padding: 5px;
  }
  @include column(20);
  .content-title {
    h1 {
      font-size: 30px;
      @include sans-font();
    }
    padding-bottom: 5px;
  }
  div.left-right {
    width: 100%;
    display: table;
    div.left {
      display: table-cell;
      text-align: left;
    }
    div.right {
      display: table-cell;
      text-align: right;
    }
  }
  
  .tabs {
    @include border-radius($tab-corner-radius);
    overflow: hidden;
    border:1px solid black;
    .tabBar {
      $tab-height: 40px;
      $padding: 5px;
      height: $tab-height;
      
      li {
        @include clickable(lighten($header-color, 0%));
        @include sans-font();
        color: black;
        float: left;
        $line-height: $tab-height - 2*$padding - 2px;
        line-height: $line-height;
        padding: $padding;
        list-style: none;
        @include border-bottom-left-radius($tab-corner-radius);
        @include border-bottom-right-radius($tab-corner-radius);
        //margin-right: 2px;
        min-width: 80px;
        text-align: center;
        .num-results {
          @include background(radial-gradient(25% 25%, red, darken(red, 20%)));
          $radius: 10px;
          color: white;
          font-size: 12px;
          line-height: $radius*2;
          width: $radius*2;
          height: $radius*2;
          @include border-radius($radius*2);
          border: 1px solid white;
          margin-right: 4px;
          display: inline-block;
          vertical-align: top;
          margin-top: 3px;
          margin-bottom: 3px;
          
        }
      } 
    }
    .tabContent {
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  table {
    width: 100%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    @include border-radius($tab-corner-radius);
    overflow: hidden;
    thead tr {

      @include sans-font();
      background-color: blue;
      th {
        @include clickable($header-color);
        @include border-top-right-radius(5px);
        @include border-top-left-radius(5px);
        text-align: center;
        font-size: 15px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 20px;
        div.ui-icon {
          margin-top: 2px;
          margin-bottom: 2px;
        }
      }
    }
    tbody td {
      padding: 2px;
      line-height: 20px;
      /*border-right: 1px solid gray;
      &:last-child {
        border-right: 0px solid gray;
      }*/
      img {
        height: 20px;
        vertical-align: top;
        padding-right: 4px;
      }
      
    }
    tbody tr:nth-child(even) {
      background-color: lighten($header-color, 30%);
    }
    div.ui-icon {
      display: inline-block;
      vertical-align: top;
    }
  }
    
}
.sidebar {
  @include column(4, true);
  div.sideItem {
    @include box-shadow(0 0 10px 2px gray);
    overflow: hidden;
    h1 {
      @include sans-font();
      //@include text-shadow($text-highlight, 2px, 2px, 3px);
      background-color: $nav-color;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 2px;
      font-size: 20px;
      color: white;
    }
    li {
      $height: 20px;
      line-height:20px;
      list-style: none;
      div {
        display: inline-block;
        height: $height;
        width: $height;
        vertical-align: top;
        padding-right: 5px;
        img {
          height: $height;
          width: $height;
          vertical-align: top;
        }
        
      }
      a {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
      margin: 5px;
    }
    margin: 5px;
    background-color: lighten($header-color, 10%);
    @include border-radius($tab-corner-radius);
  }
}
.footer {
  @include column(24);
  background-color: green;
}
input {
  $color: rgb(50%, 50%, 50%);
  color: $color; 
  @include serif-font();
  line-height: 18px;
  @include border-radius($input-radius);
  border: 1px solid $color;
  padding: 2px;
  margin: 2px;
  font-size: 15px;
  @include box-shadow(-1px 1px 4px 1px lighten($color, 20%) inset);
  &:focus {
    outline-style: none;
    @include box-shadow(-1px 1px 4px 2px darken($color, 5%) inset);
    border: 1px solid darken($color, 10%);
    color: black;
  }
}
.topButtons, .bottomButtons {
  padding-top: 5px;
  padding-bottom: 5px;
}
select {
  
}
