.main-div {
    position: absolute;
    margin: 2px;
    top: 100px;
    width: 60%;
    left: 10px;
}

img#preview-image  {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40px;
    left: 820px;
}

.model-tab, .group-tabs {
    border: 1px solid;
    background: #fff;
    padding: 10px;
}

.proc-to, .proc-end {
    color: #b3b;
}

.proc-comment {
    color: #282;
    font-style: italic;
}
