.main-div {
    position: absolute;
    margin: 2px;
    top: 100px;
    width: 60%;
    left: 10px;
}

img#preview-image  {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}

.model-tab, .group-tabs {
    border: 1px solid;
    background: #fff;
    padding: 10px;
}

.proc-to, .proc-end {
    color: #b3b;
}

.proc-comment {
    color: #282;
    font-style: italic;
}

.highlight {
    background-color: #ff0;
}

.one-model-div {
    background-color: #fff;
    display: none;
    clear: left;
    width: 60%;
}

.one-model-shown-div {
    display: block;
    clear: left;
}

#menu-div {
    font-family: Optima, sans-serif;
}

#discussion {
    padding: 5px;
}

