/* line 4, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 7, sass/newLayout.scss */
body {
  background-color: blue;
}

/* line 10, sass/newLayout.scss */
button {
  line-height: 16px;
}
/* line 12, sass/newLayout.scss */
button div.ui-icon {
  vertical-align: top;
  display: inline-block;
}

/* line 17, sass/newLayout.scss */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: white;
  -moz-box-shadow: 0 0 15px 10px gray;
  -webkit-box-shadow: 0 0 15px 10px gray;
  -o-box-shadow: 0 0 15px 10px gray;
  box-shadow: 0 0 15px 10px gray;
}

/* line 22, sass/newLayout.scss */
.header {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 960px;
  background-color: green;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header {
  overflow-x: hidden;
}
/* line 25, sass/newLayout.scss */
.header .banner {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 400px;
  background-color: purple;
  height: 100px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .banner {
  overflow-x: hidden;
}
/* line 29, sass/newLayout.scss */
.header .banner h1 {
  font-size: 40px;
  margin-left: 20px;
}
/* line 33, sass/newLayout.scss */
.header .banner h2 {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 39, sass/newLayout.scss */
.header .login {
  display: inline;
  float: left;
  margin-right: 0;
  width: 400px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  background-color: orange;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .login {
  overflow-x: hidden;
}
/* line 43, sass/newLayout.scss */
.header .login img {
  height: 13px;
  float: middle;
  margin: 2px;
}
/* line 50, sass/newLayout.scss */
.header .navigation {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 760px;
  background-color: red;
  height: 40px;
  line-height: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .navigation {
  overflow-x: hidden;
}
/* line 54, sass/newLayout.scss */
.header .navigation li {
  list-style: none;
  float: left;
  padding: 5px;
  line-height: 30px;
  background-color: gray;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 2px;
  min-width: 80px;
  text-align: center;
}
/* line 70, sass/newLayout.scss */
.header .search {
  display: inline;
  float: left;
  margin-right: 0;
  width: 200px;
  background-color: yellow;
  height: 40px;
  line-height: 40px;
  vertical-align: bottom;
  text-align: right;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .search {
  overflow-x: hidden;
}
/* line 78, sass/newLayout.scss */
.header .search input {
  vertical-align: bottom;
  width: 150px;
  margin: 5px;
}

/* line 86, sass/newLayout.scss */
.content {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 800px;
  background-color: white;
}
/* line 87, sass/newLayout.scss */
.content .padding {
  padding: 5px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content {
  overflow-x: hidden;
}
/* line 92, sass/newLayout.scss */
.content .content-title {
  padding-bottom: 5px;
}
/* line 93, sass/newLayout.scss */
.content .content-title h1 {
  font-size: 30px;
}
/* line 98, sass/newLayout.scss */
.content div.left-right {
  width: 100%;
  display: table;
}
/* line 101, sass/newLayout.scss */
.content div.left-right div.left {
  display: table-cell;
  text-align: left;
}
/* line 105, sass/newLayout.scss */
.content div.left-right div.right {
  display: table-cell;
  text-align: right;
}
/* line 111, sass/newLayout.scss */
.content .tabs {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
}
/* line 115, sass/newLayout.scss */
.content .tabs .tabBar {
  background-color: red;
  height: 40px;
}
/* line 121, sass/newLayout.scss */
.content .tabs .tabBar li {
  float: left;
  line-height: 30px;
  padding: 5px;
  list-style: none;
  background-color: gray;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 2px;
  min-width: 80px;
  text-align: center;
}
/* line 135, sass/newLayout.scss */
.content table {
  border: 1px solid black;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
/* line 139, sass/newLayout.scss */
.content table thead tr {
  height: 20px;
  background-color: blue;
  color: white;
}
/* line 143, sass/newLayout.scss */
.content table thead tr th {
  border-bottom: 1px solid black;
  font-size: 20px;
}
/* line 148, sass/newLayout.scss */
.content table tbody td {
  padding: 2px;
  line-height: 20px;
}
/* line 151, sass/newLayout.scss */
.content table tbody td img {
  height: 20px;
  vertical-align: top;
}
/* line 156, sass/newLayout.scss */
.content table tbody tr:nth-child(even) {
  background-color: gray;
}
/* line 159, sass/newLayout.scss */
.content table div.ui-icon {
  display: inline-block;
}

/* line 165, sass/newLayout.scss */
.sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 160px;
  background-color: gray;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .sidebar {
  overflow-x: hidden;
}
/* line 168, sass/newLayout.scss */
.sidebar div.sideItem {
  overflow: hidden;
  margin: 5px;
  background-color: orange;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 170, sass/newLayout.scss */
.sidebar div.sideItem h1 {
  background-color: blue;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  border-bottom: 1px solid black;
  color: white;
}
/* line 178, sass/newLayout.scss */
.sidebar div.sideItem li {
  line-height: 20px;
  list-style: none;
  margin: 5px;
}
/* line 182, sass/newLayout.scss */
.sidebar div.sideItem li img {
  height: 20px;
  width: 20px;
  vertical-align: top;
  padding-right: 5px;
}
/* line 188, sass/newLayout.scss */
.sidebar div.sideItem li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* line 200, sass/newLayout.scss */
.footer {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 960px;
  background-color: green;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .footer {
  overflow-x: hidden;
}
