/* line 4, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 23, sass/newLayout.scss */
body {
  background-color: #F5F3E9;
  font-family: 'Times';
}

/* line 27, sass/newLayout.scss */
button {
  color: black;
  font-family: arial;
  cursor: pointer;
  border: 1px solid #3066a5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #6899d3), color-stop(45%, #417ec7), color-stop(85%, #6899d3));
  background: -webkit-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -moz-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -o-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -ms-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  -moz-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -webkit-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -o-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  box-shadow: 0px 0px 1px 1px #8fb4df inset;
  font-size: 15px;
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 12, sass/_clickable.scss */
button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  -moz-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -o-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  box-shadow: 0px 0px 1px 1px #6899d3 inset;
}
/* line 16, sass/_clickable.scss */
button:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  /*border: 1px solid darken($button-color, 40%);*/
}
/* line 23, sass/_clickable.scss */
button.disabled, button[disabled] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #9e9e9e), color-stop(45%, #919191), color-stop(85%, #9e9e9e));
  background: -webkit-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -moz-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -o-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -ms-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  -moz-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -o-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  border: 1px solid #848484;
  color: #404040;
  cursor: default;
}
/* line 31, sass/_clickable.scss */
button.selected, button.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
}
/* line 36, sass/_clickable.scss */
button.selected:hover, button.ui-tabs-selected:hover {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3672b9), color-stop(45%, #2a5991), color-stop(85%, #3672b9));
  background: -webkit-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -moz-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -o-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -ms-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
}
/* line 41, sass/_clickable.scss */
button.selected:active, button.ui-tabs-selected:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
}
/* line 46, sass/_clickable.scss */
button.disabled.selected, button.disabled.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #383838 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #383838 inset;
  -o-box-shadow: -1px 5px 6px 2px #383838 inset;
  box-shadow: -1px 5px 6px 2px #383838 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #848484), color-stop(45%, #777777), color-stop(85%, #848484));
  background: -webkit-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -moz-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -o-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -ms-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: linear-gradient(#848484 35%, #777777 45%, #848484 85%);
}
/* line 36, sass/newLayout.scss */
button div.ui-icon {
  margin-top: 1px;
  margin-bottom: 1px;
  vertical-align: top;
  display: inline-block;
}

/* line 45, sass/newLayout.scss */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: white;
  -moz-box-shadow: 0 0 15px 10px gray;
  -webkit-box-shadow: 0 0 15px 10px gray;
  -o-box-shadow: 0 0 15px 10px gray;
  box-shadow: 0 0 15px 10px gray;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* line 52, sass/newLayout.scss */
.header {
  font-family: 'Arial', sans-serif;
  display: inline;
  float: left;
  margin-right: 0px;
  width: 960px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: 0 0 10px 2px gray;
  -webkit-box-shadow: 0 0 10px 2px gray;
  -o-box-shadow: 0 0 10px 2px gray;
  box-shadow: 0 0 10px 2px gray;
  overflow: hidden;
  background-color: #8fb4df;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header {
  overflow-x: hidden;
}
/* line 60, sass/newLayout.scss */
.header .banner {
  background-image: url("banner.png");
  cursor: pointer;
  display: inline;
  float: left;
  margin-right: 0px;
  width: 480px;
  height: 100px;
  color: white;
  text-shadow: #04346c 3px 3px 5px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .banner {
  overflow-x: hidden;
}
/* line 67, sass/newLayout.scss */
.header .banner h1 {
  font-size: 40px;
  margin-left: 17px;
  font-weight: bold;
}
/* line 72, sass/newLayout.scss */
.header .banner h2 {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 78, sass/newLayout.scss */
.header .login {
  line-height: 26px;
  height: 26px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #04346c;
  vertical-align: top;
  color: white;
  padding-left: 10px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 440px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -40px 1.5em 40px;
  font-family: 'Times';
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .login {
  overflow-x: hidden;
}
/* line 91, sass/newLayout.scss */
.header .login img {
  height: 26px;
  width: 26px;
  margin-left: 4px;
  margin-right: 4px;
  float: top;
}
/* line 98, sass/newLayout.scss */
.header .login a {
  color: white;
  vertical-align: top;
}
/* line 102, sass/newLayout.scss */
.header .login a:visited {
  color: white;
}
/* line 105, sass/newLayout.scss */
.header .login a:active {
  color: red;
}
/* line 111, sass/newLayout.scss */
.header .navigation {
  background-color: #04346c;
  display: inline;
  float: left;
  margin-right: 0px;
  width: 760px;
  height: 40px;
  line-height: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .navigation {
  overflow-x: hidden;
}
/* line 115, sass/newLayout.scss */
.header .navigation a {
  color: white;
  font-size: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
}
/* line 127, sass/newLayout.scss */
.header .navigation a:visited {
  color: white;
}
/* line 130, sass/newLayout.scss */
.header .navigation a:active {
  color: white;
}
/* line 133, sass/newLayout.scss */
.header .navigation a:hover {
  background-color: #064c9d;
  -moz-box-shadow: 0px 0px 1px 1px #021c3b inset;
  -webkit-box-shadow: 0px 0px 1px 1px #021c3b inset;
  -o-box-shadow: 0px 0px 1px 1px #021c3b inset;
  box-shadow: 0px 0px 1px 1px #021c3b inset;
}
/* line 137, sass/newLayout.scss */
.header .navigation a:active {
  background-color: #054085;
  -moz-box-shadow: -1px 1px 3px 2px #021c3b inset;
  -webkit-box-shadow: -1px 1px 3px 2px #021c3b inset;
  -o-box-shadow: -1px 1px 3px 2px #021c3b inset;
  box-shadow: -1px 1px 3px 2px #021c3b inset;
}
/* line 141, sass/newLayout.scss */
.header .navigation ul {
  line-height: normal;
  display: inline-block;
}
/* line 145, sass/newLayout.scss */
.header .navigation ul:last-child {
  margin-left: 40px;
}
/* line 148, sass/newLayout.scss */
.header .navigation li {
  list-style: none;
  line-height: normal;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  height: 40px;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 167, sass/newLayout.scss */
.header .search {
  background-color: #04346c;
  display: inline;
  float: left;
  margin-right: 0;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: right;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .header .search {
  overflow-x: hidden;
}
/* line 174, sass/newLayout.scss */
.header .search input {
  vertical-align: bottom;
  width: 150px;
  margin: 5px;
}

/* line 181, sass/newLayout.scss */
.content {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 800px;
}
/* line 182, sass/newLayout.scss */
.content .padding {
  padding: 5px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .content {
  overflow-x: hidden;
}
/* line 186, sass/newLayout.scss */
.content .content-title {
  padding-bottom: 5px;
}
/* line 187, sass/newLayout.scss */
.content .content-title h1 {
  font-size: 30px;
  font-family: 'Arial', sans-serif;
}
/* line 193, sass/newLayout.scss */
.content div.left-right {
  width: 100%;
  display: table;
}
/* line 196, sass/newLayout.scss */
.content div.left-right div.left {
  display: table-cell;
  text-align: left;
}
/* line 200, sass/newLayout.scss */
.content div.left-right div.right {
  display: table-cell;
  text-align: right;
}
/* line 206, sass/newLayout.scss */
.content .tabs {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
}
/* line 210, sass/newLayout.scss */
.content .tabs .tabBar {
  height: 40px;
}
/* line 215, sass/newLayout.scss */
.content .tabs .tabBar li {
  color: black;
  font-family: arial;
  cursor: pointer;
  border: 1px solid #3066a5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #6899d3), color-stop(45%, #417ec7), color-stop(85%, #6899d3));
  background: -webkit-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -moz-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -o-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -ms-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  -moz-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -webkit-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -o-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  box-shadow: 0px 0px 1px 1px #8fb4df inset;
  font-family: 'Arial', sans-serif;
  color: black;
  float: left;
  line-height: 28px;
  padding: 5px;
  list-style: none;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  min-width: 80px;
  text-align: center;
}
/* line 12, sass/_clickable.scss */
.content .tabs .tabBar li:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  -moz-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -o-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  box-shadow: 0px 0px 1px 1px #6899d3 inset;
}
/* line 16, sass/_clickable.scss */
.content .tabs .tabBar li:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  /*border: 1px solid darken($button-color, 40%);*/
}
/* line 23, sass/_clickable.scss */
.content .tabs .tabBar li.disabled, .content .tabs .tabBar li[disabled] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #9e9e9e), color-stop(45%, #919191), color-stop(85%, #9e9e9e));
  background: -webkit-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -moz-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -o-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -ms-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  -moz-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -o-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  border: 1px solid #848484;
  color: #404040;
  cursor: default;
}
/* line 31, sass/_clickable.scss */
.content .tabs .tabBar li.selected, .content .tabs .tabBar li.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
}
/* line 36, sass/_clickable.scss */
.content .tabs .tabBar li.selected:hover, .content .tabs .tabBar li.ui-tabs-selected:hover {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3672b9), color-stop(45%, #2a5991), color-stop(85%, #3672b9));
  background: -webkit-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -moz-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -o-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -ms-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
}
/* line 41, sass/_clickable.scss */
.content .tabs .tabBar li.selected:active, .content .tabs .tabBar li.ui-tabs-selected:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
}
/* line 46, sass/_clickable.scss */
.content .tabs .tabBar li.disabled.selected, .content .tabs .tabBar li.disabled.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #383838 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #383838 inset;
  -o-box-shadow: -1px 5px 6px 2px #383838 inset;
  box-shadow: -1px 5px 6px 2px #383838 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #848484), color-stop(45%, #777777), color-stop(85%, #848484));
  background: -webkit-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -moz-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -o-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -ms-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: linear-gradient(#848484 35%, #777777 45%, #848484 85%);
}
/* line 229, sass/newLayout.scss */
.content .tabs .tabBar li .num-results {
  background: -webkit-gradient(radial, 25% 25%, 0, 25% 25%, 100, color-stop(0%, #ff0000), color-stop(100%, #990000));
  background: -webkit-radial-gradient(25% 25%, #ff0000, #990000);
  background: -moz-radial-gradient(25% 25%, #ff0000, #990000);
  background: -o-radial-gradient(25% 25%, #ff0000, #990000);
  background: -ms-radial-gradient(25% 25%, #ff0000, #990000);
  background: radial-gradient(25% 25%, #ff0000, #990000);
  color: white;
  font-size: 12px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* line 248, sass/newLayout.scss */
.content .tabs .tabContent {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 253, sass/newLayout.scss */
.content table {
  width: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
/* line 260, sass/newLayout.scss */
.content table thead tr {
  font-family: 'Arial', sans-serif;
  background-color: blue;
}
/* line 264, sass/newLayout.scss */
.content table thead tr th {
  color: black;
  font-family: arial;
  cursor: pointer;
  border: 1px solid #3066a5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #6899d3), color-stop(45%, #417ec7), color-stop(85%, #6899d3));
  background: -webkit-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -moz-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -o-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -ms-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  -moz-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -webkit-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -o-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 20px;
}
/* line 12, sass/_clickable.scss */
.content table thead tr th:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  -moz-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -o-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  box-shadow: 0px 0px 1px 1px #6899d3 inset;
}
/* line 16, sass/_clickable.scss */
.content table thead tr th:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  /*border: 1px solid darken($button-color, 40%);*/
}
/* line 23, sass/_clickable.scss */
.content table thead tr th.disabled, .content table thead tr th[disabled] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #9e9e9e), color-stop(45%, #919191), color-stop(85%, #9e9e9e));
  background: -webkit-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -moz-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -o-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -ms-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  -moz-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -o-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  border: 1px solid #848484;
  color: #404040;
  cursor: default;
}
/* line 31, sass/_clickable.scss */
.content table thead tr th.selected, .content table thead tr th.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
}
/* line 36, sass/_clickable.scss */
.content table thead tr th.selected:hover, .content table thead tr th.ui-tabs-selected:hover {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3672b9), color-stop(45%, #2a5991), color-stop(85%, #3672b9));
  background: -webkit-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -moz-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -o-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -ms-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
}
/* line 41, sass/_clickable.scss */
.content table thead tr th.selected:active, .content table thead tr th.ui-tabs-selected:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
}
/* line 46, sass/_clickable.scss */
.content table thead tr th.disabled.selected, .content table thead tr th.disabled.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #383838 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #383838 inset;
  -o-box-shadow: -1px 5px 6px 2px #383838 inset;
  box-shadow: -1px 5px 6px 2px #383838 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #848484), color-stop(45%, #777777), color-stop(85%, #848484));
  background: -webkit-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -moz-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -o-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -ms-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: linear-gradient(#848484 35%, #777777 45%, #848484 85%);
}
/* line 275, sass/newLayout.scss */
.content table thead tr th div.ui-icon {
  margin-top: 2px;
  margin-bottom: 2px;
}
/* line 281, sass/newLayout.scss */
.content table tbody td {
  padding: 2px;
  line-height: 20px;
  /*border-right: 1px solid gray;
  &:last-child {
    border-right: 0px solid gray;
  }*/
}
/* line 288, sass/newLayout.scss */
.content table tbody td img {
  height: 20px;
  vertical-align: top;
  padding-right: 4px;
}
/* line 295, sass/newLayout.scss */
.content table tbody tr:nth-child(even) {
  background-color: #dee9f6;
}
/* line 298, sass/newLayout.scss */
.content table div.ui-icon {
  display: inline-block;
  vertical-align: top;
}

/* line 305, sass/newLayout.scss */
.sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 160px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .sidebar {
  overflow-x: hidden;
}
/* line 307, sass/newLayout.scss */
.sidebar div.sideItem {
  -moz-box-shadow: 0 0 10px 2px gray;
  -webkit-box-shadow: 0 0 10px 2px gray;
  -o-box-shadow: 0 0 10px 2px gray;
  box-shadow: 0 0 10px 2px gray;
  overflow: hidden;
  margin: 5px;
  background-color: #8fb4df;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 310, sass/newLayout.scss */
.sidebar div.sideItem h1 {
  font-family: 'Arial', sans-serif;
  background-color: #04346c;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  font-size: 20px;
  color: white;
}
/* line 320, sass/newLayout.scss */
.sidebar div.sideItem li {
  line-height: 20px;
  list-style: none;
  margin: 5px;
}
/* line 324, sass/newLayout.scss */
.sidebar div.sideItem li div {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  padding-right: 5px;
}
/* line 330, sass/newLayout.scss */
.sidebar div.sideItem li div img {
  height: 20px;
  width: 20px;
  vertical-align: top;
}
/* line 337, sass/newLayout.scss */
.sidebar div.sideItem li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* line 349, sass/newLayout.scss */
.footer {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 960px;
  background-color: green;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .footer {
  overflow-x: hidden;
}

/* line 353, sass/newLayout.scss */
input {
  color: #7f7f7f;
  font-family: 'Times';
  line-height: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  padding: 2px;
  margin: 2px;
  font-size: 15px;
  -moz-box-shadow: -1px 1px 4px 1px #b2b2b2 inset;
  -webkit-box-shadow: -1px 1px 4px 1px #b2b2b2 inset;
  -o-box-shadow: -1px 1px 4px 1px #b2b2b2 inset;
  box-shadow: -1px 1px 4px 1px #b2b2b2 inset;
}
/* line 364, sass/newLayout.scss */
input:focus {
  outline-style: none;
  -moz-box-shadow: -1px 1px 4px 2px #727272 inset;
  -webkit-box-shadow: -1px 1px 4px 2px #727272 inset;
  -o-box-shadow: -1px 1px 4px 2px #727272 inset;
  box-shadow: -1px 1px 4px 2px #727272 inset;
  border: 1px solid #666666;
  color: black;
}

/* line 371, sass/newLayout.scss */
.topButtons, .bottomButtons {
  padding-top: 5px;
  padding-bottom: 5px;
}
