body {
    background: #abcdef;
    font-family: Times, serif;
    font-size: 13px;
}

#login-bar {
    background: #abcccc;
    border-bottom: medium solid #000;
    padding-bottom: 3px;
}

#login-bar a:hover {
    background: #000;
    color: #abcccc;
}

#flash-notice {
    position: relative;
    width: 700px;
    margin: 10px;
    background: #000;
    color: #FFF;
    border: 1px solid #F00;
    font-style: bold;
}

#navbar-search-form {
    display: inline;
}

h1, h2, h3 {
    font-family: Optima, sans-serif;
}

h1 {
    font-size: 15px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 19px;
}

/* ------------------------------------------------------------ */
/* Tabs */
/* ------------------------------------------------------------ */

div ul.subsection_tabs {
    clear: both;
    height: 10px;
    list-style: none;
    margin-left: -3em;
}

#model_tabs ul.subsection_tabs, #group_tabs ul.subsection_tabs {
    margin-left: 10px;
}

div ul.subsection_tabs li.tab {
    float: left;
    margin-right: 7px;
    text-align: center;
}

div ul.subsection_tabs li.tab a {
    background-color: #fff;
    color: #666;
    display: block;
    font-family: Optima, sans-serif;
    height: 20px;
    text-decoration: none;
    width: 80px;
}

div ul.subsection_tabs li.tab a.active {
    color: #f00;
    background-color: #ddd;
}

div ul.subsection_tabs li.tab a:hover {
    color: #fff;
    background-color: #666;
}
