/* Accordion
----------------------------------*/
/* line 6, sass/ui.everything.scss */
.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
}

/* line 7, sass/ui.everything.scss */
.ui-accordion .ui-accordion-li-fix {
  display: inline;
}

/* line 8, sass/ui.everything.scss */
.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}

/* line 9, sass/ui.everything.scss */
.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em 2.2em;
}

/* line 10, sass/ui.everything.scss */
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

/* line 11, sass/ui.everything.scss */
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
}

/* line 12, sass/ui.everything.scss */
.ui-accordion .ui-accordion-content-active {
  display: block;
}

/* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
/* Layout helpers
----------------------------------*/
/* line 21, sass/ui.everything.scss */
.ui-helper-hidden {
  display: none;
}

/* line 22, sass/ui.everything.scss */
.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px;
}

/* line 23, sass/ui.everything.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 24, sass/ui.everything.scss */
.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 25, sass/ui.everything.scss */
.ui-helper-clearfix {
  display: inline-block;
}

/* required comment for clearfix to work in Opera \*/
/* line 27, sass/ui.everything.scss */
* html .ui-helper-clearfix {
  height: 1%;
}

/* line 28, sass/ui.everything.scss */
.ui-helper-clearfix {
  display: block;
}

/* end clearfix */
/* line 30, sass/ui.everything.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
/* line 35, sass/ui.everything.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 42, sass/ui.everything.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 49, sass/ui.everything.scss */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

                                                                                      /* Datepicker
----------------------------------*/
/* line 51, sass/ui.everything.scss */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
}

/* line 52, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

/* line 53, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

/* line 54, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

/* line 55, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

/* line 56, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

/* line 57, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

/* line 58, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

/* line 59, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

/* line 60, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

/* line 61, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0;
}

/* line 62, sass/ui.everything.scss */
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

/* line 64, sass/ui.everything.scss */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

/* line 65, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right;
}

/* line 66, sass/ui.everything.scss */
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

/* line 67, sass/ui.everything.scss */
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

/* line 68, sass/ui.everything.scss */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}

/* line 69, sass/ui.everything.scss */
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

/* line 70, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* line 71, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

/* line 72, sass/ui.everything.scss */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
/* line 75, sass/ui.everything.scss */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

/* line 76, sass/ui.everything.scss */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

/* line 77, sass/ui.everything.scss */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

/* line 78, sass/ui.everything.scss */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 79, sass/ui.everything.scss */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 80, sass/ui.everything.scss */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 81, sass/ui.everything.scss */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}

/* line 82, sass/ui.everything.scss */
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

/* line 83, sass/ui.everything.scss */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 84, sass/ui.everything.scss */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}

/* RTL support */
/* line 87, sass/ui.everything.scss */
.ui-datepicker-rtl {
  direction: rtl;
}

/* line 88, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

/* line 89, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

/* line 90, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

/* line 91, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

/* line 92, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

/* line 93, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

/* line 94, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}

/* line 95, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

/* line 96, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* line 97, sass/ui.everything.scss */
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
/* line 100, sass/ui.everything.scss */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/
}

 /* Dialog
----------------------------------*/
/* line 112, sass/ui.everything.scss */
.ui-dialog {
  position: relative;
  padding: .2em;
  width: 300px;
}

/* line 113, sass/ui.everything.scss */
.ui-dialog .ui-dialog-titlebar {
  padding: .5em .3em .3em 1em;
  position: relative;
}

/* line 114, sass/ui.everything.scss */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0 .2em;
}

/* line 115, sass/ui.everything.scss */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
}

/* line 116, sass/ui.everything.scss */
.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}

/* line 117, sass/ui.everything.scss */
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0;
}

/* line 118, sass/ui.everything.scss */
.ui-dialog .ui-dialog-content {
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}

/* line 119, sass/ui.everything.scss */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: .5em 0 0 0;
  padding: .3em 1em .5em .4em;
}

/* line 120, sass/ui.everything.scss */
.ui-dialog .ui-dialog-buttonpane button {
  float: right;
  margin: .5em .4em .5em 0;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  line-height: 1.4em;
  width: auto;
  overflow: visible;
}

/* line 121, sass/ui.everything.scss */
.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

/* line 122, sass/ui.everything.scss */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* Progressbar
----------------------------------*/
/* line 125, sass/ui.everything.scss */
.ui-progressbar {
  height: 2em;
  text-align: left;
}

/* line 126, sass/ui.everything.scss */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

                                                                   /* Resizable
----------------------------------*/
/* line 128, sass/ui.everything.scss */
.ui-resizable {
  position: relative;
}

/* line 129, sass/ui.everything.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

/* line 130, sass/ui.everything.scss */
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 131, sass/ui.everything.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}

/* line 132, sass/ui.everything.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}

/* line 133, sass/ui.everything.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}

/* line 134, sass/ui.everything.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}

/* line 135, sass/ui.everything.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 136, sass/ui.everything.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 137, sass/ui.everything.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 138, sass/ui.everything.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

                                                                                       /* Slider
----------------------------------*/
/* line 140, sass/ui.everything.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 141, sass/ui.everything.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

/* line 142, sass/ui.everything.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
}

/* line 144, sass/ui.everything.scss */
.ui-slider-horizontal {
  height: .8em;
}

/* line 145, sass/ui.everything.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}

/* line 146, sass/ui.everything.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 147, sass/ui.everything.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 148, sass/ui.everything.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 150, sass/ui.everything.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 151, sass/ui.everything.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}

/* line 152, sass/ui.everything.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 153, sass/ui.everything.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 154, sass/ui.everything.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

                                                    /* Tabs
----------------------------------*/
/* line 156, sass/ui.everything.scss */
.ui-tabs {
  zoom: 1;
}

/* line 157, sass/ui.everything.scss */
.ui-tabs .ui-tabs-nav {
  list-style: none;
  position: relative;
  /*padding: .2em .2em 0;*/
}

/* line 158, sass/ui.everything.scss */
.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  /*border-bottom-width: 0 !important; margin: 0 .2em -1px 0;*/
  padding: 0;
  color: black;
  font-family: arial;
  cursor: pointer;
  border: 1px solid #3066a5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #6899d3), color-stop(45%, #417ec7), color-stop(85%, #6899d3));
  background: -webkit-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -moz-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -o-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: -ms-linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  background: linear-gradient(#6899d3 35%, #417ec7 45%, #6899d3 85%);
  -moz-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -webkit-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -o-box-shadow: 0px 0px 1px 1px #8fb4df inset;
  box-shadow: 0px 0px 1px 1px #8fb4df inset;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 12, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  -moz-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  -o-box-shadow: 0px 0px 1px 1px #6899d3 inset;
  box-shadow: 0px 0px 1px 1px #6899d3 inset;
}
/* line 16, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  /*border: 1px solid darken($button-color, 40%);*/
}
/* line 23, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li.disabled, .ui-tabs .ui-tabs-nav li[disabled] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #9e9e9e), color-stop(45%, #919191), color-stop(85%, #9e9e9e));
  background: -webkit-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -moz-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -o-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: -ms-linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  background: linear-gradient(#9e9e9e 35%, #919191 45%, #9e9e9e 85%);
  -moz-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -webkit-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  -o-box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  box-shadow: 0px 0px 1px 1px #b7b7b7 inset;
  border: 1px solid #848484;
  color: #404040;
  cursor: default;
}
/* line 31, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li.selected, .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #417ec7), color-stop(45%, #3066a5), color-stop(85%, #417ec7));
  background: -webkit-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -moz-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -o-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: -ms-linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
  background: linear-gradient(#417ec7 35%, #3066a5 45%, #417ec7 85%);
}
/* line 36, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li.selected:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-selected:hover {
  -moz-box-shadow: -1px 5px 6px 2px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #193556 inset;
  -o-box-shadow: -1px 5px 6px 2px #193556 inset;
  box-shadow: -1px 5px 6px 2px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3672b9), color-stop(45%, #2a5991), color-stop(85%, #3672b9));
  background: -webkit-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -moz-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -o-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: -ms-linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
  background: linear-gradient(#3672b9 35%, #2a5991 45%, #3672b9 85%);
}
/* line 41, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li.selected:active, .ui-tabs .ui-tabs-nav li.ui-tabs-selected:active {
  -moz-box-shadow: -1px 5px 6px 3px #193556 inset;
  -webkit-box-shadow: -1px 5px 6px 3px #193556 inset;
  -o-box-shadow: -1px 5px 6px 3px #193556 inset;
  box-shadow: -1px 5px 6px 3px #193556 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #3066a5), color-stop(45%, #254d7d), color-stop(85%, #3066a5));
  background: -webkit-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -moz-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -o-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: -ms-linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
  background: linear-gradient(#3066a5 35%, #254d7d 45%, #3066a5 85%);
}
/* line 46, sass/_clickable.scss */
.ui-tabs .ui-tabs-nav li.disabled.selected, .ui-tabs .ui-tabs-nav li.disabled.ui-tabs-selected {
  -moz-box-shadow: -1px 5px 6px 2px #383838 inset;
  -webkit-box-shadow: -1px 5px 6px 2px #383838 inset;
  -o-box-shadow: -1px 5px 6px 2px #383838 inset;
  box-shadow: -1px 5px 6px 2px #383838 inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(35%, #848484), color-stop(45%, #777777), color-stop(85%, #848484));
  background: -webkit-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -moz-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -o-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: -ms-linear-gradient(#848484 35%, #777777 45%, #848484 85%);
  background: linear-gradient(#848484 35%, #777777 45%, #848484 85%);
}

/* line 159, sass/ui.everything.scss */
.ui-tabs .ui-tabs-nav li a {
  float: left;
  text-decoration: none;
  /*padding: .5em 1em; */
}

/* line 160, sass/ui.everything.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  /*padding-bottom: 1px; border-bottom-width: 0; */
}

/* line 161, sass/ui.everything.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}

/* line 162, sass/ui.everything.scss */
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/* line 163, sass/ui.everything.scss */
.ui-tabs .ui-tabs-panel {
  /*padding: 1em 1.4em;*/
  display: block;
  border-width: 0;
  background: none;
}

/* line 164, sass/ui.everything.scss */
.ui-tabs .ui-tabs-hide {
  display: none !important;
}

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/
/* Component containers
----------------------------------*/
/* line 177, sass/ui.everything.scss */
.ui-widget {
  font-family: Optima,Verdana,Arial,sans-serif;
  font-size: 0.8em;
}

/* line 178, sass/ui.everything.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Optima,Verdana,Arial,sans-serif;
  font-size: 0.9em;
}

/* line 179, sass/ui.everything.scss */
.ui-widget-content {
  border: 4px solid black;
  color: #222222;
  color: inherit;
  font-family: inherit;
}

/* line 180, sass/ui.everything.scss */
.ui-widget-header {
  /*border: 1px solid #aaaaaa; background: #cccccc url(/stylesheets/themes/nlcommons/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; */
}

/* line 181, sass/ui.everything.scss */
.ui-widget-header a {
  color: #222222;
}

/* Interaction states
----------------------------------*/
/* line 185, sass/ui.everything.scss */
.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(/stylesheets/themes/nlcommons/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #555555;
  outline: none;
}

/* line 186, sass/ui.everything.scss */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
  outline: none;
}

/* line 187, sass/ui.everything.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada url(/stylesheets/themes/nlcommons/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
  outline: none;
}

/* line 188, sass/ui.everything.scss */
.ui-state-hover a, .ui-state-hover a:hover {
  color: #212121;
  text-decoration: none;
  outline: none;
}

/* line 189, sass/ui.everything.scss */
.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #abcdef;
  font-weight: normal;
  color: #212121;
  outline: none;
}

/* line 190, sass/ui.everything.scss */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  outline: none;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
/* line 194, sass/ui.everything.scss */
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(/stylesheets/themes/nlcommons/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}

/* line 195, sass/ui.everything.scss */
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
  color: #363636;
}

/* line 196, sass/ui.everything.scss */
.ui-state-error, .ui-widget-content .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(/stylesheets/themes/nlcommons/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}

/* line 197, sass/ui.everything.scss */
.ui-state-error a, .ui-widget-content .ui-state-error a {
  color: #cd0a0a;
}

/* line 198, sass/ui.everything.scss */
.ui-state-error-text, .ui-widget-content .ui-state-error-text {
  color: #cd0a0a;
}

/* line 199, sass/ui.everything.scss */
.ui-state-disabled, .ui-widget-content .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 200, sass/ui.everything.scss */
.ui-priority-primary, .ui-widget-content .ui-priority-primary {
  font-weight: bold;
}

/* line 201, sass/ui.everything.scss */
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 207, sass/ui.everything.scss */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_222222_256x240.png);
}

/* line 208, sass/ui.everything.scss */
.ui-widget-content .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_222222_256x240.png);
}

/* line 209, sass/ui.everything.scss */
.ui-widget-header .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_222222_256x240.png);
}

/* line 210, sass/ui.everything.scss */
.ui-state-default .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_888888_256x240.png);
}

/* line 211, sass/ui.everything.scss */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_454545_256x240.png);
}

/* line 212, sass/ui.everything.scss */
.ui-state-active .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_454545_256x240.png);
}

/* line 213, sass/ui.everything.scss */
.ui-state-highlight .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_2e83ff_256x240.png);
}

/* line 214, sass/ui.everything.scss */
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(/stylesheets/themes/nlcommons/images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
/* line 217, sass/ui.everything.scss */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 218, sass/ui.everything.scss */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 219, sass/ui.everything.scss */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 220, sass/ui.everything.scss */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 221, sass/ui.everything.scss */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 222, sass/ui.everything.scss */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 223, sass/ui.everything.scss */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 224, sass/ui.everything.scss */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 225, sass/ui.everything.scss */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 226, sass/ui.everything.scss */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 227, sass/ui.everything.scss */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 228, sass/ui.everything.scss */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 229, sass/ui.everything.scss */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 230, sass/ui.everything.scss */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 231, sass/ui.everything.scss */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 232, sass/ui.everything.scss */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 233, sass/ui.everything.scss */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 234, sass/ui.everything.scss */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 235, sass/ui.everything.scss */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 236, sass/ui.everything.scss */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 237, sass/ui.everything.scss */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 238, sass/ui.everything.scss */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 239, sass/ui.everything.scss */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 240, sass/ui.everything.scss */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 241, sass/ui.everything.scss */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 242, sass/ui.everything.scss */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 243, sass/ui.everything.scss */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 244, sass/ui.everything.scss */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 245, sass/ui.everything.scss */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 246, sass/ui.everything.scss */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 247, sass/ui.everything.scss */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 248, sass/ui.everything.scss */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 249, sass/ui.everything.scss */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 250, sass/ui.everything.scss */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 251, sass/ui.everything.scss */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 252, sass/ui.everything.scss */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 253, sass/ui.everything.scss */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 254, sass/ui.everything.scss */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 255, sass/ui.everything.scss */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 256, sass/ui.everything.scss */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 257, sass/ui.everything.scss */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 258, sass/ui.everything.scss */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 259, sass/ui.everything.scss */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 260, sass/ui.everything.scss */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 261, sass/ui.everything.scss */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 262, sass/ui.everything.scss */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 263, sass/ui.everything.scss */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 264, sass/ui.everything.scss */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 265, sass/ui.everything.scss */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 266, sass/ui.everything.scss */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 267, sass/ui.everything.scss */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 268, sass/ui.everything.scss */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 269, sass/ui.everything.scss */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 270, sass/ui.everything.scss */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 271, sass/ui.everything.scss */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 272, sass/ui.everything.scss */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 273, sass/ui.everything.scss */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 274, sass/ui.everything.scss */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 275, sass/ui.everything.scss */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 276, sass/ui.everything.scss */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 277, sass/ui.everything.scss */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 278, sass/ui.everything.scss */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 279, sass/ui.everything.scss */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 280, sass/ui.everything.scss */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 281, sass/ui.everything.scss */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 282, sass/ui.everything.scss */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 283, sass/ui.everything.scss */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 284, sass/ui.everything.scss */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 285, sass/ui.everything.scss */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 286, sass/ui.everything.scss */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 287, sass/ui.everything.scss */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 288, sass/ui.everything.scss */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 289, sass/ui.everything.scss */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 290, sass/ui.everything.scss */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 291, sass/ui.everything.scss */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 292, sass/ui.everything.scss */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 293, sass/ui.everything.scss */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 294, sass/ui.everything.scss */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 295, sass/ui.everything.scss */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 296, sass/ui.everything.scss */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 297, sass/ui.everything.scss */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 298, sass/ui.everything.scss */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 299, sass/ui.everything.scss */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 300, sass/ui.everything.scss */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 301, sass/ui.everything.scss */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 302, sass/ui.everything.scss */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 303, sass/ui.everything.scss */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 304, sass/ui.everything.scss */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 305, sass/ui.everything.scss */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 306, sass/ui.everything.scss */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 307, sass/ui.everything.scss */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 308, sass/ui.everything.scss */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 309, sass/ui.everything.scss */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 310, sass/ui.everything.scss */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 311, sass/ui.everything.scss */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 312, sass/ui.everything.scss */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 313, sass/ui.everything.scss */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 314, sass/ui.everything.scss */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 315, sass/ui.everything.scss */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 316, sass/ui.everything.scss */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 317, sass/ui.everything.scss */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 318, sass/ui.everything.scss */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 319, sass/ui.everything.scss */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 320, sass/ui.everything.scss */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 321, sass/ui.everything.scss */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 322, sass/ui.everything.scss */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 323, sass/ui.everything.scss */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 324, sass/ui.everything.scss */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 325, sass/ui.everything.scss */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 326, sass/ui.everything.scss */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 327, sass/ui.everything.scss */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 328, sass/ui.everything.scss */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 329, sass/ui.everything.scss */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 330, sass/ui.everything.scss */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 331, sass/ui.everything.scss */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 332, sass/ui.everything.scss */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 333, sass/ui.everything.scss */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 334, sass/ui.everything.scss */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 335, sass/ui.everything.scss */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 336, sass/ui.everything.scss */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 337, sass/ui.everything.scss */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 338, sass/ui.everything.scss */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 339, sass/ui.everything.scss */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 340, sass/ui.everything.scss */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 341, sass/ui.everything.scss */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 342, sass/ui.everything.scss */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 343, sass/ui.everything.scss */
.ui-icon-radio-off {
  background-position: -96px -144px;
}

/* line 344, sass/ui.everything.scss */
.ui-icon-radio-on {
  background-position: -112px -144px;
}

/* line 345, sass/ui.everything.scss */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 346, sass/ui.everything.scss */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 347, sass/ui.everything.scss */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 348, sass/ui.everything.scss */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 349, sass/ui.everything.scss */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 350, sass/ui.everything.scss */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 351, sass/ui.everything.scss */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 352, sass/ui.everything.scss */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

/* line 353, sass/ui.everything.scss */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 354, sass/ui.everything.scss */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 355, sass/ui.everything.scss */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 356, sass/ui.everything.scss */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 357, sass/ui.everything.scss */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 358, sass/ui.everything.scss */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 359, sass/ui.everything.scss */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 360, sass/ui.everything.scss */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 361, sass/ui.everything.scss */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 362, sass/ui.everything.scss */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 363, sass/ui.everything.scss */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 364, sass/ui.everything.scss */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 365, sass/ui.everything.scss */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 366, sass/ui.everything.scss */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 367, sass/ui.everything.scss */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 368, sass/ui.everything.scss */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 369, sass/ui.everything.scss */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 370, sass/ui.everything.scss */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 371, sass/ui.everything.scss */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 372, sass/ui.everything.scss */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 373, sass/ui.everything.scss */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 374, sass/ui.everything.scss */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 375, sass/ui.everything.scss */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 376, sass/ui.everything.scss */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 377, sass/ui.everything.scss */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 378, sass/ui.everything.scss */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 379, sass/ui.everything.scss */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 380, sass/ui.everything.scss */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 381, sass/ui.everything.scss */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 382, sass/ui.everything.scss */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 383, sass/ui.everything.scss */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 384, sass/ui.everything.scss */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 385, sass/ui.everything.scss */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 386, sass/ui.everything.scss */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 387, sass/ui.everything.scss */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 388, sass/ui.everything.scss */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 389, sass/ui.everything.scss */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
/*.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { @include border-radius(8px); }*/
/* Overlays */
/* line 407, sass/ui.everything.scss */
.ui-widget-overlay {
  background: #aaaaaa url(/stylesheets/themes/nlcommons/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .30;
  filter: Alpha(Opacity=30);
}

/* line 408, sass/ui.everything.scss */
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa url(/stylesheets/themes/nlcommons/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .30;
  filter: Alpha(Opacity=30);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
