<html>
    <body>
    <h1>Tag application</h1>

    <p>This is to inform you that the "<%= @tag.name %>" tag, which
    you have used in the past, has been used in the NetLogo
    Modeling Commons.</p>

    <p>For complete information about this tag, go
    <a
    href="http://modelingcommons.org/tags/one_tag/<%= @tag.id -%>">here</a>.</p>

    <p>To remove yourself from such notifications in the future, click
    on "edit your profile" from any page on the  <a href="http://modelingcommons.org">Modeling Commons</a>.</p>

    </body>
</html>
