<html>
    <body>
    <h1>Tag application</h1>

    <p>This is to inform you that the "<%= @tag.name %>" tag was
    applied to the "<%= @node.name %>" model in the NetLogo Modeling
    Commons.  As someone who has contributed to this model and/or used
    this tag in the past, we thought that you should know.</p>

    <p>For complete information about this tag, go
    <a
    href="http://modelingcommons.org/tags/one_tag/<%= @tag.id -%>">here</a>.</p>

    <p>For complete information about this model, go
    <a
    href="http://modelingcommons.org/browse/one_model/<%= @node.id -%>">here</a>.</p>

    <p>To remove yourself from such notifications in the future, click
    on "edit your profile" from any page on the  <a href="http://modelingcommons.org">Modeling Commons</a>.</p>

    </body>
</html>
