<html>
    <body>
    <h1>Tag application</h1>

    <p>This is to inform you that the "<%= @tag.name %>" tag, which
    you have used in the past, has been used in the NetLogo
    Modeling Commons.</p>

    <p>For complete information about this tag, go
    <a
    href="http://monk.ccl.northwestern.edu:3001/tags/one_tag/<%= @tag.id -%>">here</a>.</p>

    </body>
</html>
