<html>
    <body>
    <h1>Password change successful</h1>

    <p>You have successfully changed your password for the
    <%= link_to "NetLogo modeling commons", :host => 'monk.ccl.northwestern.edu:3001', :controller => "browse" %>.</p>

    <p>Your new password is</p>

    <blockquote><%= @person.password %></blockquote>

    <p>If you have any comments or questions about the Modeling Commons,
    please send e-mail to
    <%= mail_to "reuven@lerner.co.il", 'Reuven Lerner' %>.

    </body>
</html>
