<html>
    <body>
    <h1>Group invitation from the NetLogo Modeling Commons</h1>

    <p>You have been invited to join the <%= @membership.group.name -%> group in
    the NetLogo modeling commons. </p>

    <p>You may accept the invitation by clicking <a href="http://monk.ccl.northwestern.edu:3000/membership/accept_invitation/<%= @membership.id %>">here</a>:</p>

    </body>
</html>
