<html>
    <body>
    <h1>Model update</h1>

    <p>This is to inform you that the "<%= @nlmodel.name %>" model, to
    which you have contributed in the past, has been updated in the
    NetLogo Modeling Commons.  </p>

    <p>You are invited to make further contributions, or to particpate
    in  the discussion of this model
    <a
    href="http://monk.ccl.northwestern.edu:3001/browse/one_model/<%= @nlmodel.id -%>">here</a>.</p>

    </body>
</html>
