<html>
    <body>
    <h1>Password reminder</h1>

    <p>You have successfully reset your password for the
    <%= link_to "NetLogo Modeling Commons", :host => 'modelingcommons.org', :controller => "browse" %>.</p>

    <p>Your e-mail address (which is used to log in) is
    '<%= @person.email_address %>'.  Your password is</p>

    <blockquote><%= @person.password %></blockquote>

    <p>If you have any comments or questions about the Modeling Commons,
    please send e-mail to
    <%= mail_to "reuven@lerner.co.il", 'Reuven Lerner' %>.

    </body>
</html>
