<html>
    <body>
    <h1>Model recommendation</h1>

    <p>This is to inform you that the model "<%= link_to @model.name, :controller => :browse, :action => :one_model, :id => @model.id %>",
    which you have used in the past, has been recommended in the
    <%= link_to "NetLogo Modeling Commons", :controller => :account, :action => :mypage %>.</p>

    </body>
</html>
