<html>
  <body>
    <h1>Model recommendation</h1>

    <p>This is to inform you that the <a href="http://monk.ccl.northwestern.edu:3000/browse/one_model/<%= @nlmodel.id -%>"><%= @nlmodel.name -%></a> model,
 which you have used in the past, has been recommended by <%= @recommender.fullname -%>
 in the <a href="http://monk.ccl.northwestern.edu:3000/">NetLogo Modeling Commons</a>.</p>

  </body>
</html>
