<p>Greetings from the <a href="http://modelingcommons.org/">NetLogo Modeling Commons</a>!</p>

<p>One or more of your models is listed as having a single author
  (i.e., you).  Now that's just fine &mdash; but we want to be sure
  that everyone who has worked on a model receives appropriate
  credit.</p>

<p>(You should receive this message no more than once per uploaded model.)</p>

<p>So if anyone has helped you with a model &mdash; as a modeler, domain
  expert, advisor, or in another role &mdash; we encourage you to log into the 
  <a href="http://modelingcommons.org">Modeling Commons</a> and
  identify those collaborators, by clicking on the "Add a
  collaborator" link on a model page.  (This link is only visible to a
  model's authors.)</p>

<p>We recently made it possible to acknowledge collaborators who are
  not members of the Modeling Commons.  To add such a person, enter
  their e-mail address, in addition to their name.  We'll thank them
  for their contributions, and their name will appear on the model
  page, along with other contributors.  (If and when such people join
  the Modeling Commons, we'll be sure that the collaboration credit
  points to their new account.)</p>

<p>Your <%= pluralize(@solo_models.count, 'model') %>:</p>

<ul>
  <% @solo_models.each do |model| %>
  <li><%= link_to model.name, "http://modelingcommons.org/browse/one_model/#{model.id}" %></li>
  <% end %>
</ul>

<p>If you are looking for someone to help collaborate on your model,
  then be sure to click on the appropriate checkbox at the top of each
  model's page.  A full list of models looking for collaborators is
  on your personal page on the Modeling Commons, on the left side.</p>

<p>To remove yourself from such notifications in the future, click on "edit your profile" from any page on the  <a href="http://modelingcommons.org">Modeling Commons</a>.</p>

<p>If you have any questions about the Modeling Commons, please
  <a href="mailto:modelingcommons@ccl.northwestern.edu">contact
    us</a>.  We enjoy getting feedback, and helping to
  improve the Modeling Commons for our users.</p>
