<html>
    <body>
    <h1>Discussion in the Modeling Commons</h1>

    <p>Greetings from the <a href="http://modelingcommons.org">Modeling Commons</a>!</p>

    <p>This is to inform you that there has been additional discussion
    of the "<%= @nlmodel.name %>" model.  You have contributed to this
    model (or to its discussion) in the past, so we thought that you
    would like to know. </p>

    <p>To participate further in the discussion, just go 
    <a href="http://modelingcommons.org/browse/one_model/<%= @nlmodel.id -%>">here</a>.</p>

    </body>
</html>
