<html>
  <head>
    <title>Discussion in the Modeling Commons</title>
  </head>
  <body>
    <h1>Discussion in the Modeling Commons</h1>

    <p>Greetings from the <a href="http://modelingcommons.org">Modeling Commons</a>!</p>

    <p>This is to inform you that there is a new mesage on the
      discussion forum for the "<%= @nlmodel.name %>" model.  You have
      contributed to this model (or to its discussion) in the past, so
      we thought that you would like to know.</p>

    <p>To view or contribute to the discussion, just go to: 
      <a href="http://modelingcommons.org/browse/one_model/<%= @nlmodel.id -%>">here</a>.</p>

    <p>To remove yourself from such notifications in the future, click
    on "edit your profile" from any page on the  <a href="http://modelingcommons.org">Modeling Commons</a>.</p>

  </body>
</html>
