<html>
    <body>
    <h1>Discussion update</h1>

    <p>This is to inform you that there has been additional discussion
    of the "<%= @nlmodel.name %>" model in the NetLogo Modeling Commons.  You have either contributed
    a model or a discussion comment in the past, so we thought that
    you would like to know. </p>

    <p>You are invited to continue to participate in the discussion
    <a
    href="http://modelingcommons.org/browse/one_model/<%= @nlmodel.id -%>">here</a>.</p>

    </body>
</html>
