<div class="file">
    <%= text_field_tag 'new_tag[]', "", {:class => 'complete', :size => 40, :placeholder => "Tag name"} %>
    <%= text_field_tag 'new_comment[]', "", {:size => 65, :class => '', :placeholder => "(Optional) comment about why this tag is relevant to this model"} %>
    <%= link_to_function "Remove this tag", "$(this).parent().remove()" %>
</div>
