<div class="file">

    <%= text_field_tag 'new_tag[]',  'Tag name', {:class => 'complete empty-on-click'} %>
    <%= text_field_tag 'new_comment[]', "(Optional) comment about why this tag is relevant to this model", {:size => 60, :class => 'empty-on-click'} %>
    <%= link_to_function "Remove", "$(this).parent().remove()" %>
</div>
