<div id="embed-code-instructions" style="display: none;">
<p>To embed this model in another Web site, use the following link:
<pre>
  &lt;iframe src="http://modelingcommons.org/browse/one_model/<%= @model.id -%>?embedded=true" /&gt;
</pre>
</p>
</div>
