<% if @person and !@person.groups.empty? %>
<% if @model and @model.group %>
<% model_group_id = @model.group.id %>
<% else %>
<% model_group_id = 0 %>
<% end %>

<% @options_for_select = [['Select a group', nil]] -%>
<% @person.groups.each {|g| @options_for_select << [g.name, g.id] } -%>

<p id="permission-group-selector">Model group: <%= select_tag("group_id", options_for_select(@options_for_select, model_group_id)) %>&nbsp;&nbsp;
  <%= submit_tag "Set permissions and group" %></p>
<% end %>

