<% if @model %>
	<div id="preview-image">
    <% if @model.previews.nil? or @model.previews.empty? %>
        No preview image
    <% else %>
        <%= model_image(@model)%>
    <% end %>
	</div>
<% end %>
