<div>
  <% if @model.parent.nil? -%>
  <p>This model does not have any ancestors.</p>
  <% else -%>
  <p><b>Parent:</b> <%= link_to @model.parent.name, :controller => 'browse', :action => 'one_model', :anchor => 'related', :id => @model.parent.id  -%></p>
  <% end -%>

  <% if @model.models.empty? -%>
  <p>This model does not have any descendants.</p>
  <% else -%>
  <h3>Children:</h3>
  <ul>
    <% @model.models.each do |child| -%>
    <li><%= link_to child.name, :controller => 'browse', :action => 'one_model', :anchor => 'related', :id => child.id  -%></li>
    <% end -%>
  </ul>
  <% end -%>

<% if @model.parent or !@model.models.empty? %>
<p><img src="/graph/graphviz/<%= @model.id -%>" alt="Graph of models related to '<%= @model.name -%>' " /></p>
<% end %>
</div>
