<div>
  <% form_remote_tag(:url => { :controller => :browse, :action => :set_permissions }) do %>

  <%= hidden_field_tag 'id', @model.id %>

  <%= render :partial => "permission_selector", :locals => {:person => @person, :model => @model} -%>
  <%= render :partial => "group_selector", :locals => {:person => @person, :model => @model} -%>

  <p><%= submit_tag "Set permissions and group" %></p>

  <% end %>
</div>
