<div>
  <% if @model.name =~ /3D/ %>
  <p>Sorry, but 3D models cannot be viewed as applets.  You must download this model to try it.</p>
  <% else %>
  <applet
     code="org.nlogo.lite.Applet"
     align="baseline"
     width="<%= @model.dimensions[:width] -%>" height="<%= @model.dimensions[:height] -%>"
     archive="/NetLogoLite.jar">
    <param name="DefaultModel" value="<%= url_for :controller => :browse, :action => :model_contents, :id => @model.id %> ">
  </applet>
  <% end %>
</div>
