<% if @model.parent.nil? -%>
<p>No parent node</p>
<% else -%>
<p><b>Parent:</b> <%= link_to @model.parent.name, :controller => 'browse', :action => 'one_model', :id => @model.parent.id  -%></p>
<% end -%>

<% if @model.models.empty? -%>
<p>No child nodes</p>
<% else -%>
<h3>Children:</h3>
<ul>
  <% @model.models.each do |child| -%>
  <li><%= link_to child.name, :controller => 'browse', :action => 'one_model', :id => child.id  -%></li>
  <% end -%>
</ul>
<% end -%>
