<% if @model %>
    <% if @model.previews.nil? or @model.previews.empty? %>
        <p>No preview image</p>
    <% else %>
        <img id="big-preview-image" align="right" src="<%= url_for :controller => "browse", :action => "display_preview", :id => @model.id %>" alt="Preview image for <%= @model.name -%>">
    <% end %>
<% end %>
