<% if params[:action] == 'list_recent_models' %>
<% @title = 'Recently changed models' %>
<% else %>
<% @title = 'List of models' %>
<% end %>

<div class="panel">
<% if @person %>
<p><%= link_to "Upload a new model", :controller => :upload, :action => :new_model -%></p>
<% end %>

<% if @models.empty? %>
<p>There are no models to view.</p>

<% else %>
<p><%= link_to "Jump to a random model", :controller => :browse, :action => :view_random_model %></p>

<% if @person %>
<p><%= link_to "See only models in your groups", :controller => :membership, :action => :list_models %></p>
<% end %>

<%= render :partial => "model_list", :object => @models %>
<% end %>
</div>
