<% @title = "List of models" %>

<%= will_paginate @models %>
<%= render :partial => "model_list", :object => @models %>
<%= will_paginate @models %>

<% if not params[:search_term].blank? %>
    <p><%= link_to "See a complete list of models", :controller => "browse", :action => "list_models" %></p>
<% end %>

