<% @title = "Modeling Commons news" %>

<% @news_items.each do |item| %>
<ul>
    <li><h2><%= item.title %></h2>
        <p><%= item.body %></p>
        <p>-- <i><%= link_to item.person.fullname, :controller => "account", :action => "mypage", :id => item.person.id %></i>, posted <%= distance_of_time_in_words(Time.now, item.created_at) -%> ago</p>
    </ul>

</li>
</ul>
<% end %>
