<p><%= link_to "Return to '#{@model.name}'", :controller => "browse", :action => "one_model", :id => @model.id %></p>

<!-- procedures tab contents below here -->
<pre>
<%= @procedures_tab_contents %>
</pre>
<!-- procedures tab contents above here -->

