<div id="your-groups-div" class="group-tab">
  <% if @person.nil? %>
  <p>You are not logged in.</p>
  <% elsif @person.memberships.empty? %>
  <p>You are not a member of any groups.</p>
  <% else %>

  <ul>
    <% @person.memberships.sort_by {|m| m.group_name.downcase}.each do |membership| %>
    <li><%= group_link(membership.group) %>
      (<%= pluralize(membership.group_size, "member") %>)
      (<%= link_to "leave this group", :controller => :membership, :action => :leave, :id => membership.id, :confirm => "Are you sure that you want to leave this group?" %>)
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
