<div class="news">
  <div class="news_list">
    <div class="news_heading">
      Want to share and participate?
    </div>
    <div class="news_empty clearfix">
      <img src="/assets/default-person/medium/default-person.png" style="float: left;margin-right: 4px; width: 100px; " />
      <p>Fill out our <%= link_to "registration", :controller => :account, :action => :new %> form,
	and you'll be able to upload, tag, and discuss models.</p>
      <p>Already registered? <a href="#email_address" id="login_to_the_commons">Login to the Commons</a>.</p>
    </div>
  </div>
</div>
