<p>You probably want to either:</p>

<ul>
    <li><%= link_to "Register", :controller => "account", :action => "new" %> or </li>
    <li><%= link_to "Log in", :controller => "account", :action => "login" %></li>
</ul>
