<% @title = "Register as a new user" %>

<p>Before you can participate in the Commons, you must first register.
(You may view public models, discussions, and tags without
registering.) </p>

<p>Already registered?  You may <%= link_to "log in", :controller => :account, :action => :login %>.</p>

<%= error_messages_for :new_person %>

<%= render :partial => 'new_person_form' %>

