<% @title = "Recent Activity" %>
<div class="activity">
	<label><input type="checkbox">Show only my activity</label>
	<div class="post">
		<div class="main_image">
			<img src="/images/model.png" />
		</div>
		<div class="post_content">
			<div class="post_person">
				<a href="#"><img src="/images/person.jpeg">Seth Tisue</a> updated
			</div>
			<div class="post_item">
				<a href="#">Warring States</a>
			</div>	
			<div class="post_date">
				about 1 hour ago
			</div>
			<div class="post_more">
				<a href="#">See more recently updated models</a>
			</div>
		</div>
	</div>
	<div class="post">
		<div class="main_image">
			<img src="/images/model.png" />
		</div>
		<div class="post_content">
			<div class="post_person">
				<a href="#"><img src="/images/person.jpeg">Ben Rafshoon</a> tagged
			</div>
			<div class="post_item">
				<a href="#">Wolf Sheep Predation</a> as <a href="#">Examples</a>
			</div>	
			<div class="post_date">
				2 days ago
			</div>
			<div class="post_more">
				<a href="#">See more recently applied tags that you created</a>
			</div>
		</div>
	</div>
</div>
<div class="sidebar">
	<div class="side_list">
		<h1>Most Popular Models</h1>
		<div class="side_post">
			<div class="side_image">
				<img src="/images/model.png">
			</div>
			<div class="side_content">
				<div class="side_person">
					<a href="#">Uri Wilensky</a>
				</div>
				<div class="side_item">
					<a href="#">Wolf Sheep Predation</a>
				</div>
				<div class="side_views">
					Viewed 304 times
				</div>
				
			</div>
		</div>
		<div class="side_post">
			<div class="side_image">
				<img src="/images/model.png">
			</div>
			<div class="side_content">
				<div class="side_person">
					<a href="#">Uri Wilensky</a>
				</div>
				<div class="side_item">
					<a href="#">Wolf Sheep Predation</a>
				</div>
				<div class="side_views">
					Viewed 304 times
				</div>
				
			</div>
		</div>
		<div class="side_post">
			<div class="side_image">
				<img src="/images/model.png">
			</div>
			<div class="side_content">
				<div class="side_person">
					<a href="#">Uri Wilensky</a>
				</div>
				<div class="side_item">
					<a href="#">Wolf Sheep Predation</a>
				</div>
				<div class="side_views">
					Viewed 304 times
				</div>
				
			</div>
		</div>
		<div class="side_post">
			<div class="side_image">
				<img src="/images/model.png">
			</div>
			<div class="side_content">
				<div class="side_person">
					<a href="#">Uri Wilensky</a>
				</div>
				<div class="side_item">
					<a href="#">Wolf Sheep Predation</a>
				</div>
				<div class="side_views">
					Viewed 304 times
				</div>
				
			</div>
		</div>
		<div class="side_more"><a href="#">See more popular models</a></div>
	</div>
</div>
