<% @title = "Reset password" %>

<%= form_tag :action => :reset_password_action do %>
    <p><label for="email_address">E-mail address</label><%= text_field_tag :email_address %></p>
    <p><%= submit_tag "Reset password", :class => "submit" %></p>
<% end %>
