<% @title = "Send password reminder" %>

<table>

<% form_tag :action => :send_password_action do %>
<tr>
    <td><label for="email_address">E-mail address</label></td>
    <td><%= text_field_tag :email_address %></td>
</tr>

<tr>
    <td colspan="2"><%= submit_tag "Send password reminder", :class => "submit" %></td>
</tr>

<% end %>

</table>
