<% @title = "Send password reminder" %>

<% form_tag :action => :send_password_action do %>
    <p><label for="email_address">E-mail address</label><%= text_field_tag :email_address %></p>
    <p><%= submit_tag "Send password reminder", :class => "submit" %></p>
<% end %>
