<% @title = "Update password" %>

<% form_tag :action => 'update_password_action', :id => 'update_password_form' do %>
    <p>New password: <%= password_field_tag :new_password %></p>
    <p>Confirmation: <%= password_field_tag :new_password_confirmation %></p>
    <%= submit_tag "Update password" %>
<% end %>
