@import "compass/utilities/general/clearfix";

$nav-color: #04346C;
$nav-text-color: white;
$header-color: lighten(#6899D3, 10%);
$text-highlight: #FF5C00;
$tab-corner-radius: 8px;
$input-radius: 5px;
$button-color: #FFB540;
$error-color: red;
$no-image-color: lighten(black, 80%);
$your_news_color: rgb(250, 247, 157);

$pie-behavior: url("/browse/pie");
$pie-base-class: pie;

@mixin pie-border-radius($r) {
  @include border-radius($r);
  @include pie;
}

@mixin global_padding {
  margin: 4px;
}

.pie {
  @include pie-element(relative);
  -pie-poll: false;
}

@mixin pie-z($z: 0) {
  @include pie-element(z-index, z);
  -pie-poll: false;
}

.clearfix {
  @include pie-clearfix();
}
