<div id="invite-group-div" class="group-tab">

  <% if @person.blank? %>

  <p>You are not logged in.</p>

  <% elsif @person.memberships.length == 0 %>
  <p>You are not a member of any groups.</p>

  <% else %>
  <h2>Invite People To Your Group</h2>
  <table id="people_adder">
    <tr>
      <td>
	<div>
	  <label for="search_people_to_invite">Search for people to invite <input type="text" id="search_people_to_invite" placeholder="Search People" /></label>
	  <%= form_tag({:controller => :account, :action => :find_people}) do %>
	  <div id="unselected_people">
	    <div class="no_people">
	      <label for="search_people_to_invite">No people found. Search for people to add.</label> 
	    </div>
	  </div>
	  <% end %>
	</div>
      </td>
      <td>
	<div>
	  <%= form_tag({:controller => "membership", :action => :invite_people}, :id => 'group_invite_form' )  do %>
	  <label for="group_id">Invite to group <%= select("group", "id", [['--select a group--', '']] + @person.groups.map {|g| [g.name, g.id]}) %></label>
	  <input id="submit_selected_people" type="submit" value="Invite" disabled="disabled" />
	  <div id="selected_people">
	    <div class="no_people">
	      <label for="group_id">No people added to invitation. Add people to invite them to your group.</label>
	    </div>
	  </div>
	  <% end %>
	</div>
      </td>
    </tr>
  </table>


  <% end %>
</div>
