<div id="invite-group-div" class="group-tab">

  <% if @person.blank? %>

  <p>You are not logged in.</p>

  <% elsif @person.memberships.length == 0 %>
  <p>You are not a member of any groups.</p>

  <% else %>

  <!--<% form_tag({:controller => "membership", :action => :invite_people}, :id => 'group_invite_form' )  do %>
  <p>Invite people to join the <%= select("group", "id", @person.groups.map {|g| [g.name, g.id]}, :include_blank => true ) %> group:</p>

  <p><%= select("invitees", "id", potential_invitees, {:include_blank => false}, {:size => 15, :multiple => true}) %></p>

  <p><%= submit_tag "Invite users", :id => 'invite_users_submit_button', :disabled => 'disabled' %></p>
  <% end %>
-->
<div id="people_adder">
	<% form_tag({:controller => "membership", :action => :invite_people}, :id => 'invite_to_group' )  do %>
		<%= select("group", "id", @person.groups.map {|g| [g.name, g.id]}, :include_blank => true) %>
		<div id="selected_people">
			
		</div>
		<input id="submit_selected_people" type="submit" value="Invite" disabled="disabled" />
	<% end %>
  	<input type="text" id="search_people_to_invite" />
  	<div id="unselected_people">
  		
  	</div>
</div>


  <% end %>
</div>
