<div id="results-div">
</div>

<div id="find-group-div" class="group-tab">
  <% form_remote_tag(:url => {:controller => "membership", :action => :find_action}, :update => 'results-div') do |form| %>
  <p>Group name to search for: <%= text_field_tag "group_name" %></p>
  <p><%= submit_tag "Find" %></p>
  <% end %>
</div>

