<% @title = "Group search results" %>

<ul>
    <% @person.groups.sort_by {|g| g.name}.each do |group| %>
        <li>
          <%= group_link(group) %>
            <% if not group.administrators.empty? %>
                (Group owner: <%= person_link(group.administrators.first.person) %>)
            <% end %>
        </li>
    <% end %>
</ul>
