<div id="invite-group-div" class="group-tab">

  <% if @person.memberships.length == 0 %>
  <p>You are not a member of any groups.</p>
  <% else %>

  <% form_tag :controller => "membership", :action => :invite_people do %>
  <p>Invite people to join the <%= select("group", "id", @person.groups.map {|g| [g.name, g.id]}, :include_blank => true) %> group:</p>

  <p><%= select("invitees", "id", @potential_invitees, {:include_blank => false}, {:size => 15, :multiple => true}) %></p>

  <p><%= submit_tag "Invite users" %></p>
  <% end %>




  <% end %>
</div>
